<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Culinart"
        tools:targetApi="31">
        <activity
            android:name=".Pedido"
            android:exported="false"
            android:label="@string/title_activity_pedido"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".Plano"
            android:exported="false"
            android:label="@string/title_activity_plano"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".CadastroCheckout"
            android:exported="false"
            android:label="@string/title_activity_cadastro_checkout"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".CadastroPlano"
            android:exported="false"
            android:label="@string/title_activity_cadastro_plano"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".componentes.Input"
            android:exported="false"
            android:label="@string/title_activity_input"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".CadastroEndereco"
            android:exported="false"
            android:label="@string/title_activity_cadastro_endereco"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".Cadastro"
            android:exported="false"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/Theme.Culinart" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Culinart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>